.calculator {
  width: 325px;
  height: auto;
  padding: 20px 20px 9px;
  background: #9dd2ea;
  background: linear-gradient(#9dd2ea, #1027CE);
  border-radius: 0px;
}

.textPop {
	text-align:center;
	color: #1027CE;
}